<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form action="/order/multiple" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>상품이름</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>합산가격</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${carts}">
                    <td th:text="${cartStat.count}"></td>
                    <td th:text="${cart.item_name}"></td>
                    <td th:text="${cart.price}"></td>
                    <td th:text="${cart.quantity}"></td>
                    <td th:text="${cart.total_price}"></td>
                    <td>
                        <a href="#" th:href="@{/cart/{id}/delete (id=${cart.id})}"
                           class="btn" role="button">❌</a>
                    </td>
                    <input type="text" id="cartIds" name="cartIds" hidden th:value="${cart.id}"/>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-3">주문하기</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>